<html>
    <head>
        <title>Cricket</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!------------------------CSS---------------------------------------------------->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
        
        <!-------------------custom CSS----------------------------------------------->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!----------------------------------------Nav Bar-------------------------------------------->
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">                  
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="my-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-left">
                        <li><a href="#HOME" class="nav-item">HOME</a></li>
                        <li><a href="#INDIA" class="nav-item">INDIA</a></li>
                        <li><a href="#AUSTRALIA" class="nav-item">AUSTRALIA</a></li>
                        <li><a href="#SOUTH AFRICA" class="nav-item">SOUTH AFRICA</a></li>
                        <li><a href="#ENGLAND" class="nav-item">ENGLAND</a></li>
                  </ul>
                      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								 <form class="form" action="/admin/login/?next=/admin/" method="post" id="login-form">{% csrf_token %}
                                  <div class="form-group">

                                    <label class="required" for="id_username">Username:</label> <input class="form-control" name="username" autofocus="" maxlength="254" required="" id="id_username" type="text">
                                  </div>
                                  <div class="form-row">

                                    <label class="required" for="id_password">Password:</label> <input class="form-control" name="password" required="" id="id_password" type="password">
                                    <input name="next" value="/admin/" type="hidden">
                                  </div>


                                  <div class="form-group">
                                    <label>&nbsp;</label><input class="btn btn-primary btn-block" value="Log in" type="submit">
                                  </div>
                                </form>

							</div>
					 </div>
				</li>
			</ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign Up</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
                                <form method="POST" action="" enctype="multipart/form-data" style="min-height: 280px">{% csrf_token %}
                                    <p>
                                        <label for="id_username">Username:</label> 
                                        <input class="form-control" name="username" maxlength="150" required="" id="id_username" type="text"> 
                                    </p>
                                    <p>
                                        <label for="id_password">Password:</label> 
                                        <input class="form-control" name="password" maxlength="128" required="" id="id_password" type="password">
                                    </p>
                                    <p>
                                        <label for="id_email">Email address:</label> 
                                        <input class="form-control" name="email" maxlength="254" id="id_email" type="email">
                                    </p>
                                    <button class="btn btn-primary btn-block" type="submit" style="padding: 10px 0px">Sign Up</button>
                                </form>
								 
							</div>
					 </div>
				</li>
			</ul>
        </li>
      </ul>
                 </div>
              </div>
        </nav>
    </head>
    <body>
        <header id="HOME" class="header">
            <div class="header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!--------------------------slider---------------------------------------------->
                        <div id="Myslider" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#Myslider" data-slide-to="0" class="active"></li>
                            <li data-target="#Myslider" data-slide-to="1"></li>
                            <li data-target="#Myslider" data-slide-to="2"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <img src="../static/images/slider-1.jpg" alt="...">
                              <div class="carousel-caption">
                                <h2></h2>
                              </div>
                            </div>
                            <div class="item">
                              <img src="../static/images/slider-2.jpg" alt="...">
                              <div class="carousel-caption">
                                <h2></h2>
                              </div>
                            </div>
                              <div class="item">
                              <img src="../static/images/slider-3.jpg" alt="...">
                              <div class="carousel-caption">
                                <h2></h2>
                              </div>
                            </div>
                          </div>
                        </div></div>
                    <div class="col-md-4">
                        <h1>Cricket</h1>
                        <p>Cricket is a bat-and-ball game played between two teams of eleven players each on a cricket field, at the centre of which is a rectangular 22-yard-long pitch with a target called the wicket (a set of three wooden stumps topped by two bails) at each end. Each phase of play is called an innings during which one team bats, attempting to score as many runs as possible, whilst their opponents field. Depending on the type of match, the teams have one or two innings apiece and, when the first innings ends, the teams swap roles for the next innings.</p>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <section id="INDIA" class="Indian">
            <div class="indian-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Indian Cricket Team</h2>
                            <img src="../static/images/india-cover.jpg">               
                        </div>
                        <div class="col-md-8">
                            <p>The India national cricket team, also known as Team India and Men in Blue, represents India in international cricket. Governed by the Board of Control for Cricket in India (BCCI), it is a full member of the International Cricket Council (ICC) with Test, One Day International (ODI) and Twenty20 International (T20I) status.</p>
                            <a class="btn btn-primary btn-team" href="/india">Read More</a>        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="AUSTRALIA" class="aus">
            <div class="indian-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Australian Cricket Team</h2>
                            <img src="../static/images/aus-cover.jpg">               
                        </div>
                        <div class="col-md-8">
                            <p>The Australia national cricket team, represents the country of Australia in international cricket. It is the joint oldest team in Test cricket history, having played in the first ever Test match in 1877. The team also plays One Day International cricket and Twenty20 International, participating in both the first ODI, against England in the 1970–71 season and the first Twenty20 International, against New Zealand in the 2004–05 season, winning both games.</p>
                            <a class="btn btn-primary btn-team" href="/australia">Read More</a>        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="SOUTH AFRICA" class="sa">
            <div class="indian-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>South Africa Cricket Team</h2>
                            <img src="../static/images/sa-cover.jpg">               
                        </div>
                        <div class="col-md-8">
                            <p>The South African national cricket team, nicknamed the Proteas (after South Africa's national flower, the king protea), represents South Africa in international cricket. It is administered by Cricket South Africa. South Africa is a full member of the International Cricket Council (ICC) with Test and One Day International (ODI) status.</p>
                            <a class="btn btn-primary btn-team" href="/south_africa">Read More</a>        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="ENGLAND" class="eng">
            <div class="indian-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>ENGLAND Cricket Team</h2>
                            <img src="../static/images/eng-cover.jpg">               
                        </div>
                        <div class="col-md-8">
                            <p>The England cricket team represents England and Wales (and until 1992 also Scotland) in international cricket. Since 1 January 1997 it has been governed by the England and Wales Cricket Board (ECB), having been previously governed by Marylebone Cricket Club (MCC) from 1903 until the end of 1996.

England and Australia were the first teams to play a Test match (between 15–19 March 1877), and these two countries together with South Africa formed the Imperial Cricket Conference (predecessor to today's International Cricket Council) on 15 June 1909. England and Australia also played the first One Day International (ODI) on 5 January 1971. England's first Twenty20 International (T20I) was played on 13 June 2005, once more against Australia.</p>
                            <a class="btn btn-primary btn-team" href="/england">Read More</a>        
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <footer class="footer">
        
            <div class="container">
            
                <div class="row">
                
                    <div class="col-md-12">
                    
                        <div id="copyright">
                            <p>Copyright &copy; 2017 <a href="#"> - Karthik</a></p>
                        </div>
                    </div>
                    
                
                
                </div>
            
            </div>
        
        
        </footer>
<!------------------Javascript-------------------------->
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/custom.js"></script>
</html>